body {
    border-top: 5px solid #112259;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

h1 {
    font-family: -apple-system,"Space Mono", monospace, "Open Sans", Helvetica, sans-serif;
    text-align: center;
    color: #112259;
    font-size: 3em;
}

h2 {
    font-family: -apple-system, "Space Mono", monospace, "Open Sans", Helvetica, sans-serif;
    text-align: center;
    color: #112259;
    margin-bottom: -10px;
}

h4 {
    font-family: -apple-system, "Space Mono", monospace, "Open Sans", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -10px;
}

p {
    font-family: -apple-system, "Open Sans", Helvetica, sans-serif;
    text-align: center;
    padding: 4px;
    transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
}

hr {
    margin: -10px 0 0 0;
}

i {
    color: rgba(255, 45, 45, .75);
    font-size: 25px;
    transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    cursor: pointer;
}

i:hover {
    color: rgba(255, 45, 45, 1);
    font-size: 1.1em;
}

.footer-2 {
  transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  color: rgba(255, 45, 45, .75);
  text-decoration: none;
  cursor: pointer;
}

.footer-2:hover {
  color: rgba(255, 45, 45, 1);
  text-decoration: none;
  font-size: 1.1em
}


#social {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    text-align:center;
}

.container {
    margin: auto;
    margin-top: 25px;
    width: 40%;
    text-align:center;
}

#icons {
    display:inline-block;
    margin-top: -30px;
    font-size: 30px;
    color: #112259;
}

#projects {
    text-align: center;
}

#footer {
    text-align: center;
    width:50%;
    position: relative;
    margin-top: 100px ;
    margin-bottom: 50px;
    font-family: -apple-system,"Space Mono", monospace, "Open Sans", Helvetica, sans-serif;
}

#right {
    float: right;
    display:none;
    width: 33%;
    color: #112259
}

#center {
    width: 33%;
}

#left {
    float: left;
    width: 33%;
    color: #112259
}

.technologies {
    font-size: 10px;
    margin-top:10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

img {
    border-radius: 10px;
    margin-top: 25px
}

.image-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
}

.image-container .after {
    margin-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: .95em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, 0.7);
}

.image-container .after p {
    display: none;
}
.image-container:hover .after p {
    display: block;
}

.image-container:hover .after h4 {
    color: rgba(255, 45, 45, 1);
}

.image-container:hover .after h4:hover {
    color: rgba(255, 15, 15, 1);
    cursor: pointer;
}
